<div class="anomalycontainer">
    <h3>Core Citadel</h3>
    <h4>Anomaly</h4>

    <div class="dpscalc"> <span>With</span> <input type="text" size="5" placeholder="your DPS" class="dpsinput"> <span>best possible time is</span><textarea id="44" class="timearea" EHP="2183574" disabled></textarea></div>

    <table class="maintable">
        <tr>
            <th></th>
            <th>Qty</th>
            <th>Sleeper</th>
            <th>Class</th>
            <th><img class="icon" src="~/Content/Images/icons/dis.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/web.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/neut.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/rr.png"></th>
            <th>Dist</th>
            <th>Sig</th>
            <th>Max Speed</th>
            <th>Orbit</th>
            <th>Velocity</th>
            <th>DPS</th>
            <th>Alpha</th>
            <th>Range</th>
            <th>EHP</th>
        </tr>

        <tr class="wave maintablerow">
            <td>Wave 1</td>
            <td></td>
            <td class="trigger"></td>
            <td></td>
            <td class="effect">1</td>
            <td class="effect">1</td>
            <td class="effect">-30</td>
            <td class="rrep">73</td>
            <td>70</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dps">1,398</td>
            <td class="dps">15,788</td>
            <td>300</td>
            <td class="ehp">364,276</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>1</td>
            <td class="sleeper ">Sleepless Keeper</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/sleeplesskeeper.png">B</td>
            <td></td>
            <td></td>
            <td>-12</td>
            <td></td>
            <td>70</td>
            <td>400</td>
            <td>945</td>
            <td>65,000</td>
            <td>105</td>
            <td>537</td>
            <td>3,662</td>
            <td>300</td>
            <td>88,629</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>1</td>
            <td class="sleeper ">Sleepless Sentinel</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/sleeplesssentinel.png">B</td>
            <td>1</td>
            <td>1</td>
            <td>-18</td>
            <td></td>
            <td>30</td>
            <td>400</td>
            <td>1,125</td>
            <td>19,000</td>
            <td>125</td>
            <td>465</td>
            <td>5,746</td>
            <td>148</td>
            <td>140,714</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger">x</td>
            <td>1</td>
            <td class="sleeper trigger">Sleepless Warden</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/sleeplesswarden.png">B</td>
            <td></td>
            <td></td>
            <td></td>
            <td>73</td>
            <td></td>
            <td>400</td>
            <td>1,305</td>
            <td>55,000</td>
            <td>145</td>
            <td>396</td>
            <td>6,380</td>
            <td>255</td>
            <td>134,933</td>
        </tr>
        <tr class="wave maintablerow">
            <td>Wave 2</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="effect">3</td>
            <td class="effect">3</td>
            <td class="effect">-78</td>
            <td class="rrep">281</td>
            <td>30</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dps">1,969</td>
            <td class="dps">24,994</td>
            <td>255</td>
            <td class="ehp">592,180</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>8</td>
            <td class="sleeper ">Emergent Keeper</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/emergentkeeper.png">F</td>
            <td></td>
            <td></td>
            <td>-3</td>
            <td>26</td>
            <td>7</td>
            <td>35</td>
            <td>2,868</td>
            <td>5,000</td>
            <td>320</td>
            <td>22</td>
            <td>172</td>
            <td>42</td>
            <td>4,388</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>3</td>
            <td class="sleeper ">Sleepless Sentinel</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/sleeplesssentinel.png">B</td>
            <td>1</td>
            <td>1</td>
            <td>-18</td>
            <td></td>
            <td>30</td>
            <td>400</td>
            <td>1,125</td>
            <td>19,000</td>
            <td>125</td>
            <td>465</td>
            <td>5,746</td>
            <td>148</td>
            <td>140,714</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger">x</td>
            <td>1</td>
            <td class="sleeper trigger">Sleepless Warden</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/sleeplesswarden.png">B</td>
            <td></td>
            <td></td>
            <td></td>
            <td>73</td>
            <td></td>
            <td>400</td>
            <td>1,305</td>
            <td>55,000</td>
            <td>145</td>
            <td>396</td>
            <td>6,380</td>
            <td>255</td>
            <td>134,933</td>
        </tr>
        <tr class="wave maintablerow">
            <td>Wave 3</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="effect"></td>
            <td class="effect"></td>
            <td class="effect">-60</td>
            <td class="rrep">427</td>
            <td>70</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dps">2,977</td>
            <td class="dps">31,502</td>
            <td>300</td>
            <td class="ehp">705,790</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>8</td>
            <td class="sleeper ">Emergent Keeper</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/emergentkeeper.png">F</td>
            <td></td>
            <td></td>
            <td>-3</td>
            <td>26</td>
            <td>7</td>
            <td>35</td>
            <td>2,868</td>
            <td>5,000</td>
            <td>320</td>
            <td>22</td>
            <td>172</td>
            <td>42</td>
            <td>4,388</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger">x</td>
            <td>3</td>
            <td class="sleeper trigger">Sleepless Keeper</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/sleeplesskeeper.png">B</td>
            <td></td>
            <td></td>
            <td>-12</td>
            <td></td>
            <td>70</td>
            <td>400</td>
            <td>945</td>
            <td>65,000</td>
            <td>105</td>
            <td>537</td>
            <td>3,662</td>
            <td>300</td>
            <td>88,629</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>3</td>
            <td class="sleeper ">Sleepless Warden</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/sleeplesswarden.png">B</td>
            <td></td>
            <td></td>
            <td></td>
            <td>73</td>
            <td></td>
            <td>400</td>
            <td>1,305</td>
            <td>55,000</td>
            <td>145</td>
            <td>396</td>
            <td>6,380</td>
            <td>255</td>
            <td>134,933</td>
        </tr>
        <tr class="wave maintablerow">
            <td>Wave 4</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="effect">4</td>
            <td class="effect">2</td>
            <td class="effect">-90</td>
            <td class="rrep">156</td>
            <td>40</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dps">1,519</td>
            <td class="dps">17,736</td>
            <td>330</td>
            <td class="ehp">521,328</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>6</td>
            <td class="sleeper ">Emergent Keeper</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/emergentkeeper.png">F</td>
            <td></td>
            <td></td>
            <td>-3</td>
            <td>26</td>
            <td>7</td>
            <td>35</td>
            <td>2,868</td>
            <td>5,000</td>
            <td>320</td>
            <td>22</td>
            <td>172</td>
            <td>42</td>
            <td>4,388</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>2</td>
            <td class="sleeper ">Sleepless Guardian</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/sleeplessguardian.png">B</td>
            <td>2</td>
            <td>1</td>
            <td>-36</td>
            <td></td>
            <td>40</td>
            <td>400</td>
            <td>1,575</td>
            <td>35,000</td>
            <td>175</td>
            <td>693</td>
            <td>8,352</td>
            <td>330</td>
            <td>247,500</td>
        </tr>        
    </table>
    <table class="summarytable">
        <tr class="summarytablerow">
            <td>ISK/EHP</td>
            <td>142</td>
        </tr>
        <tr class="summarytablerow">
            <td>Blue Loot</td>
            <td>310,100,000 ISK</td>
        </tr>
        <tr class="summarytablerow">
            <td>EHP</td>
            <td>2,183,574</td>
        </tr>
        <tr class="summarytablerow">
            <td>DPS</td>
            <td>6,534</td>
        </tr>
        <tr class="summarytablerow">
            <td>Scrams</td>
            <td>8</td>
        </tr>
        <tr class="summarytablerow">
            <td>Webs</td>
            <td>6</td>
        </tr>
        <tr class="summarytablerow">
            <td>Neuts</td>
            <td>-246</td>
        </tr>
        <tr class="summarytablerow">
            <td>RRep</td>
            <td>791</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Towers</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow">
            <td>Frigates</td>
            <td>22</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Cruisers</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow">
            <td>Battleships</td>
            <td>15</td>
        </tr>
    </table>
</div>

















