<div class="anomalycontainer">
    <h3>Forgotten Perimeter Power Array</h3>
    <h4>Relic Signature</h4>

    <div class="dpscalc"> <span>With</span> <input type="text" size="5" placeholder="your DPS" class="dpsinput"> <span>best possible time is</span><textarea id="2" class="timearea" EHP="109113" disabled></textarea></div>

    <table class="maintable">
            <tr>
        <th></th>
        <th>Qty</th>
        <th>Sleeper</th>
        <th>Class</th>
        <th><img class="icon" src="~/Content/Images/icons/dis.png"></th>
        <th><img class="icon" src="~/Content/Images/icons/web.png"></th>
        <th><img class="icon" src="~/Content/Images/icons/neut.png"></th>
        <th><img class="icon" src="~/Content/Images/icons/rr.png"></th>
        <th>Dist</th>
        <th>Sig</th>
        <th>Max Speed</th>
        <th>Orbit</th>
        <th>Velocity</th>
        <th>DPS</th>
        <th>Alpha</th>
        <th>Range</th>
        <th>EHP</th>
            </tr>

        <tr class="wave maintablerow">
            <td>Wave 1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dps">80</td>
            <td class="dps">800</td>
            <td>84</td>
            <td class="ehp">38333</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger">x</td>
            <td>2</td>
            <td class="sleeper trigger">Awakened Patroller</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/awakenedpatroller.png">C</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>150</td>
            <td>1190</td>
            <td>15000</td>
            <td>170</td>
            <td>40</td>
            <td>400</td>
            <td>84</td>
            <td>19167</td>
        </tr>
        <tr class="wave maintablerow">
            <td>Wave 2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>-9</td>
            <td></td>
            <td>7</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dps">145</td>
            <td class="dps">1028</td>
            <td>84</td>
            <td class="ehp">29280</td>
        </tr>
        <tr class="maintablerow">
            <td></td>
            <td>3</td>
            <td class="sleeper">Emergent Watchman</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/emergentwatchman.png">F</td>
            <td></td>
            <td></td>
            <td>-3</td>
            <td></td>
            <td>7</td>
            <td>35</td>
            <td>1,925</td>
            <td>5,000</td>
            <td>275</td>
            <td>12</td>
            <td>96</td>
            <td>42</td>
            <td>1,760</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger">x</td>
            <td>2</td>
            <td class="trigger sleeper">Awakened Escort</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/awakenedescort.png">C</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>150</td>
            <td>968</td>
            <td>45000</td>
            <td>140</td>
            <td>54</td>
            <td>370</td>
            <td>84</td>
            <td>12000</td>
        </tr>
        <tr class="wave maintablerow">
            <td>Wave 3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>-12</td>
            <td></td>
            <td>40</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dps">168</td>
            <td class="dps">1240</td>
            <td>84</td>
            <td class="ehp">41500</td>
        </tr>
        <tr class="maintablerow">
            <td></td>
            <td>2</td>
            <td class="sleeper">Awakened Escort</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/awakenedescort.png">C</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>150</td>
            <td>968</td>
            <td>45000</td>
            <td>140</td>
            <td>54</td>
            <td>370</td>
            <td>84</td>
            <td>12000</td>
        </tr>
        <tr class="maintablerow">
            <td></td>
            <td>2</td>
            <td class="sleeper">Awakened Watchman</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/awakenedwatchman.png">C</td>
            <td></td>
            <td></td>
            <td>-6</td>
            <td></td>
            <td>40</td>
            <td>150</td>
            <td>1,400</td>
            <td>30,000</td>
            <td>200</td>
            <td>30</td>
            <td>250</td>
            <td>84</td>
            <td>8,750</td>
        </tr>
    </table>
    <table class="summarytable">
        <tr class="summarytablerow">
            <td>ISK/EHP</td>
            <td>84</td>
        </tr>
        <tr class="summarytablerow">
            <td>Blue Loot</td>
            <td>9,200,000 ISK</td>
        </tr>
        <tr class="summarytablerow">
            <td>EHP</td>
            <td>109,113</td>
        </tr>
        <tr class="summarytablerow">
            <td>DPS</td>
            <td>299</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Scrams</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Webs</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow">
            <td>Neuts</td>
            <td>-21</td>
        </tr>
        <tr class="summarytablerow none">
            <td>RRep</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Towers</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow">
            <td>Frigates</td>
            <td>3</td>
        </tr>
        <tr class="summarytablerow">
            <td>Cruisers</td>
            <td>8</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Battleships</td>
            <td>0</td>
        </tr>
    </table>
</div>
