<div class="anomalycontainer">
    <h3>Frontier Barracks</h3>
    <h4>Anomaly</h4>

    <div class="dpscalc"> <span>With</span> <input type="text" size="5" placeholder="your DPS" class="dpsinput"> <span>best possible time is</span><textarea id="27" class="timearea" EHP="517369" disabled></textarea></div>

    <table class="maintable">
        <tr>
            <th></th>
            <th>Qty</th>
            <th>Sleeper</th>
            <th>Class</th>
            <th><img class="icon" src="~/Content/Images/icons/dis.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/web.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/neut.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/rr.png"></th>
            <th>Dist</th>
            <th>Sig</th>
            <th>Max Speed</th>
            <th>Orbit</th>
            <th>Velocity</th>
            <th>DPS</th>
            <th>Alpha</th>
            <th>Range</th>
            <th>EHP</th>
        </tr>

        <tr class="wave maintablerow">
            <td>Wave 1</td>
            <td></td>
            <td class="trigger"></td>
            <td></td>
            <td class="effect"></td>
            <td class="effect"></td>
            <td class="effect">-10</td>
            <td class="rrep">65</td>
            <td>70</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dps">747</td>
            <td class="dps">7,918</td>
            <td>195</td>
            <td class="ehp">118,590</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger">x</td>
            <td>1</td>
            <td class="sleeper trigger">Sleepless Preserver</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/sleeplesspreserver.png">B</td>
            <td></td>
            <td></td>
            <td></td>
            <td>65</td>
            <td></td>
            <td>400</td>
            <td>1,100</td>
            <td>55,000</td>
            <td>135</td>
            <td>308</td>
            <td>4,962</td>
            <td>195</td>
            <td>62,533</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>1</td>
            <td class="sleeper">Sleepless Upholder</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/sleeplessupholder.png">B</td>
            <td></td>
            <td></td>
            <td>-10</td>
            <td></td>
            <td>70</td>
            <td>400</td>
            <td>680</td>
            <td>65,000</td>
            <td>100</td>
            <td>439</td>
            <td>2,956</td>
            <td>155</td>
            <td>56,057</td>
        </tr>
        <tr class="wave maintablerow">
            <td>Wave 2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="effect"></td>
            <td class="effect">-30</td>
            <td class="rrep">104</td>
            <td>70</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dps">1,469</td>
            <td class="dps">9,904</td>
            <td>155</td>
            <td class="ehp">201,531</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>2</td>
            <td class="sleeper">Awakened Preserver</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/awakenedpreserver.png">C</td>
            <td></td>
            <td></td>
            <td></td>
            <td>52</td>
            <td></td>
            <td>150</td>
            <td>1,240</td>
            <td>45,000</td>
            <td>155</td>
            <td>76</td>
            <td>518</td>
            <td>101</td>
            <td>16,680</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger">x</td>
            <td>3</td>
            <td class="sleeper trigger">Sleepless Upholder</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/sleeplessupholder.png">B</td>
            <td></td>
            <td></td>
            <td>-10</td>
            <td></td>
            <td>70</td>
            <td>400</td>
            <td>680</td>
            <td>65,000</td>
            <td>100</td>
            <td>439</td>
            <td>2,956</td>
            <td>155</td>
            <td>56,057</td>
        </tr>
        <tr class="wave maintablerow">
            <td>Wave 3</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="effect">3</td>
            <td class="effect">3</td>
            <td class="effect">-9</td>
            <td class="rrep">338</td>
            <td>24</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dps">1,013</td>
            <td class="dps">12,680</td>
            <td>195</td>
            <td class="ehp">197,247</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>3</td>
            <td class="sleeper ">Emergent Preserver</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/emergentpreserver.png">F</td>
            <td>1</td>
            <td>1</td>
            <td>-3</td>
            <td></td>
            <td>24</td>
            <td>35</td>
            <td>2,600</td>
            <td>5,000</td>
            <td>325</td>
            <td>32</td>
            <td>228</td>
            <td>42</td>
            <td>1,820</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>4</td>
            <td class="sleeper">Awakened Preserver</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/awakenedpreserver.png">C</td>
            <td></td>
            <td></td>
            <td></td>
            <td>52</td>
            <td></td>
            <td>150</td>
            <td>1,240</td>
            <td>45,000</td>
            <td>155</td>
            <td>76</td>
            <td>518</td>
            <td>101</td>
            <td>16,680</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>2</td>
            <td class="sleeper">Sleepless Preserver</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/sleeplesspreserver.png">B</td>
            <td></td>
            <td></td>
            <td></td>
            <td>65</td>
            <td></td>
            <td>400</td>
            <td>1,100</td>
            <td>55,000</td>
            <td>135</td>
            <td>308</td>
            <td>4,962</td>
            <td>195</td>
            <td>62,533</td>
        </tr>
    </table>
    <table class="summarytable">
        <tr class="summarytablerow">
            <td>ISK/EHP</td>
            <td>168</td>
        </tr>
        <tr class="summarytablerow">
            <td>Blue Loot</td>
            <td>86,700,000 ISK</td>
        </tr>
        <tr class="summarytablerow">
            <td>EHP</td>
            <td>517,369</td>
        </tr>
        <tr class="summarytablerow">
            <td>DPS</td>
            <td>2,482</td>
        </tr>
        <tr class="summarytablerow">
            <td>Scrams</td>
            <td>3</td>
        </tr>
        <tr class="summarytablerow">
            <td>Webs</td>
            <td>3</td>
        </tr>
        <tr class="summarytablerow">
            <td>Neuts</td>
            <td>-39</td>
        </tr>
        <tr class="summarytablerow">
            <td>RRep</td>
            <td>442</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Towers</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow">
            <td>Frigates</td>
            <td>3</td>
        </tr>
        <tr class="summarytablerow">
            <td>Cruisers</td>
            <td>6</td>
        </tr>
        <tr class="summarytablerow">
            <td>Battleships</td>
            <td>7</td>
        </tr>
    </table>
</div>







