<div class="anomalycontainer">
    <h3>Sleeper Information Sanctum</h3>
    <h4>Anomaly</h4>

    <div class="dpscalc"> <span>With</span> <input type="text" size="5" placeholder="your DPS" class="dpsinput"> <span>best possible time is</span><textarea id="30" class="timearea" EHP="654281" disabled></textarea></div>

    <table class="maintable">
        <tr>
            <th></th>
            <th>Qty</th>
            <th>Sleeper</th>
            <th>Class</th>
            <th><img class="icon" src="~/Content/Images/icons/dis.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/web.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/neut.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/rr.png"></th>
            <th>Dist</th>
            <th>Sig</th>
            <th>Max Speed</th>
            <th>Orbit</th>
            <th>Velocity</th>
            <th>DPS</th>
            <th>Alpha</th>
            <th>Range</th>
            <th>EHP</th>
        </tr>

        <tr class="wave maintablerow">
            <td>Wave 1</td>
            <td></td>
            <td class="trigger"></td>
            <td></td>
            <td class="effect"></td>
            <td class="effect">2</td>
            <td class="effect">-18</td>
            <td class="rrep">168</td>
            <td>40</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dps">735</td>
            <td class="dps">10,384</td>
            <td>195</td>
            <td class="ehp">155,167</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>2</td>
            <td class="sleeper ">Emergent Upholder</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/emergentupholder.png">F</td>
            <td></td>
            <td></td>
            <td>-3</td>
            <td>19</td>
            <td>7</td>
            <td>35</td>
            <td>2,400</td>
            <td>5,000</td>
            <td>300</td>
            <td>17</td>
            <td>134</td>
            <td>42</td>
            <td>2,800</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>2</td>
            <td class="sleeper ">Awakened Upholder</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/awakenedupholder.png">C</td>
            <td></td>
            <td>1</td>
            <td>-6</td>
            <td></td>
            <td>40</td>
            <td>150</td>
            <td>1,728</td>
            <td>30,000</td>
            <td>216</td>
            <td>42</td>
            <td>96</td>
            <td>84</td>
            <td>12,250</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger">x</td>
            <td>2</td>
            <td class="sleeper trigger">Sleepless Preserver</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/sleeplesspreserver.png">B</td>
            <td></td>
            <td></td>
            <td></td>
            <td>65</td>
            <td></td>
            <td>400</td>
            <td>1,100</td>
            <td>55,000</td>
            <td>135</td>
            <td>308</td>
            <td>4,962</td>
            <td>195</td>
            <td>62,533</td>
        </tr>
        <tr class="wave maintablerow">
            <td>Wave 2</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="effect">1</td>
            <td class="effect">4</td>
            <td class="effect">-20</td>
            <td class="rrep"></td>
            <td>30</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dps">1,623</td>
            <td class="dps">19,900</td>
            <td>255</td>
            <td class="ehp">429,214</td>
        </tr>
        <tr class="maintablerow">
            <td></td>
            <td>3</td>
            <td class="sleeper">Sleepless Defender</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/sleeplessdefender.png">B</td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td>30</td>
            <td>400</td>
            <td>920</td>
            <td>19,000</td>
            <td>115</td>
            <td>361</td>
            <td>4,468</td>
            <td>148</td>
            <td>90,571</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger">x</td>
            <td>1</td>
            <td class="sleeper trigger">Sleepless Safeguard</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/sleeplesssafeguard.png">B</td>
            <td>1</td>
            <td>1</td>
            <td>-20</td>
            <td></td>
            <td>30</td>
            <td>400</td>
            <td>1,320</td>
            <td>15,000</td>
            <td>165</td>
            <td>539</td>
            <td>6,496</td>
            <td>255</td>
            <td>157,500</td>
        </tr>
        <tr class="wave maintablerow">
            <td>Wave 3</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="effect">2</td>
            <td class="effect">4</td>
            <td class="effect">-27</td>
            <td class="rrep">161</td>
            <td>40</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dps">350</td>
            <td class="dps">2,086</td>
            <td>101</td>
            <td class="ehp">69,900</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>2</td>
            <td class="sleeper ">Emergent Preserver</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/emergentpreserver.png">F</td>
            <td>1</td>
            <td>1</td>
            <td>-3</td>
            <td></td>
            <td>24</td>
            <td>35</td>
            <td>2,600</td>
            <td>5,000</td>
            <td>325</td>
            <td>32</td>
            <td>228</td>
            <td>42</td>
            <td>1,820</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>3</td>
            <td class="sleeper ">Emergent Upholder</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/emergentupholder.png">F</td>
            <td></td>
            <td></td>
            <td>-3</td>
            <td>19</td>
            <td>7</td>
            <td>35</td>
            <td>2,400</td>
            <td>5,000</td>
            <td>300</td>
            <td>17</td>
            <td>134</td>
            <td>42</td>
            <td>2,800</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>2</td>
            <td class="sleeper">Awakened Preserver</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/awakenedpreserver.png">C</td>
            <td></td>
            <td></td>
            <td></td>
            <td>52</td>
            <td></td>
            <td>150</td>
            <td>1,240</td>
            <td>45,000</td>
            <td>155</td>
            <td>76</td>
            <td>518</td>
            <td>101</td>
            <td>16,680</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>2</td>
            <td class="sleeper ">Awakened Upholder</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/awakenedupholder.png">C</td>
            <td></td>
            <td>1</td>
            <td>-6</td>
            <td></td>
            <td>40</td>
            <td>150</td>
            <td>1,728</td>
            <td>30,000</td>
            <td>216</td>
            <td>42</td>
            <td>96</td>
            <td>84</td>
            <td>12,250</td>
        </tr>
    </table>
    <table class="summarytable">
        <tr class="summarytablerow">
            <td>ISK/EHP</td>
            <td>132</td>
        </tr>
        <tr class="summarytablerow">
            <td>Blue Loot</td>
            <td>86,100,000 ISK</td>
        </tr>
        <tr class="summarytablerow">
            <td>EHP</td>
            <td>654,281</td>
        </tr>
        <tr class="summarytablerow">
            <td>DPS</td>
            <td>1,862</td>
        </tr>
        <tr class="summarytablerow">
            <td>Scrams</td>
            <td>2</td>
        </tr>
        <tr class="summarytablerow">
            <td>Webs</td>
            <td>9</td>
        </tr>
        <tr class="summarytablerow">
            <td>Neuts</td>
            <td>-45</td>
        </tr>
        <tr class="summarytablerow">
            <td>RRep</td>
            <td>264</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Towers</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow">
            <td>Frigates</td>
            <td>7</td>
        </tr>
        <tr class="summarytablerow">
            <td>Cruisers</td>
            <td>6</td>
        </tr>
        <tr class="summarytablerow">
            <td>Battleships</td>
            <td>6</td>
        </tr>
    </table>
</div>







