
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/Scripts/Scripts.js" type="text/javascript" defer></script>
</head>

<body>
    <header>
        
        <a class="whclasslink" href="/Home/C1">C1</a>
        <a class="whclasslink" href="/Home/C2">C2</a>
        <a class="whclasslink" href="/Home/C3">C3</a>
        <a class="whclasslink" href="/Home/C4">C4</a>
        <a class="whclasslink">C5</a>
        <a class="whclasslink">C6</a>
        <a class="whclasslink">Gas Sigs</a>
        <a class="whclasslink">Ore Anoms</a>
        <a class="whclasslink">Sleeper's stats</a>
        
        <div class="searchblock">
        <span class="searchspan">Search</span>
        <input type="text" id="searchinput">

        <div class="searchresult">
            <ul id="searchlist">
               <!--<li class="searchLi"><a class="searchlink" href=/Home/Search> Forgotten Perimeter Coronation Platform</a></li>
                <li class="searchLi"><a class="searchlink" href=/Home/Search> Forgotten Perimeter Power Array</a></li>
                <li class="searchLi"><a class="searchlink" href=/Home/Search> Perimeter Ambush Point</a></li>-->
            </ul>
        </div>
            </div>
        <div id="over-lay"></div>
    </header>

    @RenderBody()
 
<!--<div class="grey-overlay" id="over-lay"><img id="overlay-image" src="~/Content/Images/loader1.gif" /></div>-->
</body>


</html>
