<div class="anomalycontainer">
    <h3>Capital Escalation</h3>
    <h4>Combat Anoms, Data, Relic</h4>

    <div class="dpscalc"> <span>With</span> <input type="text" size="5" placeholder="your DPS" class="dpsinput"> <span>best possible time is</span><textarea id="33" class="timearea" EHP="3607896" disabled></textarea></div>

    <table class="maintable">
        <tr>
            <th></th>
            <th>Qty</th>
            <th>Sleeper</th>
            <th>Class</th>
            <th><img class="icon" src="~/Content/Images/icons/dis.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/web.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/neut.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/rr.png"></th>
            <th>Dist</th>
            <th>Sig</th>
            <th>Max Speed</th>
            <th>Orbit</th>
            <th>Velocity</th>
            <th>DPS</th>
            <th>Alpha</th>
            <th>Range</th>
            <th>EHP</th>
        </tr>

        <tr class="wave maintablerow">
            <td>Wave 1</td>
            <td></td>
            <td class="trigger"></td>
            <td></td>
            <td class="effect">3</td>
            <td class="effect">3</td>
            <td class="effect">-225</td>
            <td class="rrep"></td>
            <td>100</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dps">3,840</td>
            <td class="dps">50,280</td>
            <td>320</td>
            <td class="ehp">3,607,896</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>3</td>
            <td class="sleeper">Upgraded Avenger</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/upgradedavenger.png">B</td>
            <td>1</td>
            <td>1</td>
            <td>-75</td>
            <td></td>
            <td>100</td>
            <td>30,000</td>
            <td>3,000</td>
            <td>20,000</td>
            <td>300</td>
            <td>1,280</td>
            <td>16,736</td>
            <td>320</td>
            <td>1,202,632</td>
        </tr>

    </table>
    <table class="summarytable">
        <tr class="summarytablerow">
            <td>ISK/EHP</td>
            <td>11</td>
        </tr>
        <tr class="summarytablerow">
            <td>Blue Loot</td>
            <td>38,700,000 ISK</td>
        </tr>
    </table>
</div>








