
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/Scripts/Scripts.js" type="text/javascript" defer></script>
</head>
@Html.Partial("~\\views\\Anomalies\\C1\\ForgottenPerimeterCoronationPlatform.cshtml")
@Html.Partial("~\\views\\Anomalies\\C1\\ForgottenPerimeterPowerArray.cshtml")
@Html.Partial("~\\views\\Anomalies\\C1\\PerimeterAmbushPoint.cshtml")